<h1> All Items </h1>

<ul>
<% @items.each do |item| %>
	<li> 
		<%= link_to item.name, item_path(item) %>
		<%= link_to 'Edit', edit_item_path(item) %>
		<%= link_to 'Destroy', item_path(item), method: :delete, data: { confirm: 'Are you sure?'} %>
	</li>
<% end %>
</ul>

<%= link_to 'Add Item', new_item_path %>